<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout::head"></head>
  <body>
    <nav th:replace="layout::nav"></nav>
    <div class="container my-3 px-5 py-5">
      <!-- 여기부터 시작 -->
      <div class="my-3 border-bottom">
        <div>
          <h4>과목 수정하기</h4>
        </div>
      </div>
      <h6>과목이름만 수정가능합니다.</h6>
      <br /><br />

      <form
        th:action="@{|/admin/modifySubject/${subject.subject_code}|}"
        th:object="${subjectForm}"
        method="post"
      >
        <div th:replace="layout::formErrors"></div>

        <div class="mb-3">
          <label for="subject_code" class="form-label">과목코드</label>
          <input
            type="text"
            th:field="*{subject_code}"
            th:placeholder="${subject.subject_code}"
            class="form-control"
            readonly
          />
        </div>
        <div class="mb-3">
          <label for="subject_name" class="form-label">과목이름* (15글자 이하)</label>
          <input
            type="text"
            name="subject_name"
            th:value="${subject.subject_name}"
            class="form-control"
          />
        </div>

        <button type="submit" class="btn btn-primary">과목수정</button>
      </form>
    </div>
    <footer th:replace="layout::footer"></footer>
  </body>
</html>
