<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout::head"></head>
  <body>
    <nav th:replace="layout::nav"></nav>
    <div class="container my-3 px-5 py-5">
      <!-- 여기부터 시작 -->
      <div class="my-3 border-bottom">
        <h4>과목 관리</h4>
        <a
          th:href="@{/admin/createSubject}"
          class="btn btn-sm btn-outline-secondary"
          th:text="과목만들기"
        ></a>
      </div>

      <br /><br />

      <form th:action="@{/admin/subjectSearch}" method="get">
        <div class="row justify-content-end">
          <div class="col-11">
            <input
              type="text"
              class="form-control"
              name="search"
              placeholder="검색하실 과목명을 입력해주세요."
            />
          </div>
          <div class="col-1">
            <button type="submit" class="btn btn-primary">검색</button>
          </div>
        </div>
      </form>

      <div id="output">
        <table class="table">
          <thead>
            <tr class="text-center">
              <th scope="col">과목코드</th>
              <th scope="col">과목이름</th>
              <th scope="col">과목관리</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" th:each="subject : ${sList}">
              <td th:text="${subject.subject_code}"></td>
              <td th:text="${subject.subject_name}"></td>
              <td>
                <a
                  th:href="@{|/admin/modifySubject/${subject.subject_code}|}"
                  class="btn btn-sm btn-outline-secondary"
                  th:text="수정"
                ></a>
                <a
                  href="javascript:void(0);"
                  th:data-uri="@{|/admin/deleteSubject/${subject.subject_code}|}"
                  class="delete btn btn-sm btn-outline-secondary"
                  th:text="삭제"
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <footer th:replace="layout::footer"></footer>
  </body>
  <script th:inline="javascript">
    //삭제시 confirm창
    const delete_elements = document.querySelectorAll('.delete');

    delete_elements.forEach((element) => {
      element.addEventListener('click', (e) => {
        if (confirm('삭제하시겠습니까?')) {
          //console.log(e.target.dataset.uri);
          location.href = e.target.dataset.uri; //태그의 data-uri 값을 가져옴
        }
      });
    });
  </script>
</html>
