<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Learning</title>
    <!-- 부트스트랩적용 및 커스텀 CSS 적용 -->
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/style.css}" />
    <!-- material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- 부트스트랩 JS 및 JQuery 적용 -->
    <script th:src="@{/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/jquery-3.6.4.min.js}"></script>
  </head>
  <body>
    <nav th:fragment="nav" class="navbar navbar-expand-md navbar-dark bg-primary border-bottom">
      <div class="container-fluid justify-content-between">
        <div class="common_menu">
          <a class="navbar-brand" href="/"
            ><img
              th:src="@{/image/mylearning.png}"
              class="d-inline-block align-text-top"
            />MyLearning</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div
          class="collapse navbar-collapse d-flex flex-row justify-content-end"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
              <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}"
                >로그아웃</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/signup}"
                >회원가입</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/question/learning}">학습하기</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/board/list}">질문게시판</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/board/notice}">공지사항</a>
            </li>

            <li
              sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_TEACHER')"
              class="nav-item dropdown"
            >
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                관리자 페이지
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    sec:authorize="hasRole('ROLE_ADMIN')"
                    th:href="@{/admin/subject}"
                    >과목관리</a
                  >
                </li>
                <li><a class="dropdown-item" th:href="@{/admin/question}">문제관리</a></li>
                <li>
                  <a
                    class="dropdown-item"
                    sec:authorize="hasRole('ROLE_ADMIN')"
                    th:href="@{/admin/user}"
                    >회원관리</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    sec:authorize="hasRole('ROLE_ADMIN')"
                    th:href="@{/admin/manager}"
                    >운영진 관리</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- th:fragment="이름" 으로 공통 태그부분 작성 -->
    <div th:fragment="formErrors" class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
      <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
    </div>
    <footer th:fragment="footer">
      <div
        class="container-fluid bg-dark text-white"
        style="margin-top: 50px; padding-top: 30px; padding-bottom: 30px"
      >
        <div class="text-center">
          <p>MyLearning</p>
          <p>email : admin@admin.com</p>
          <p>Copyright 2023 All ⓒ rights reserved</p>
        </div>
      </div>
    </footer>
  </body>
</html>
